body {
    margin: 0;
    font-family: cursive;
    background-color: #88a6d2;
    color:#223148;
    text-align: center;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #1c3f74;
    color: white;
}

header h2 {
    margin: 0;
    font-size: 5em;
}

header h4 {
    font-size: 1.5em;
    position: relative;
}

main {
    padding: 20px;
    background: rgb(208, 216, 245);
    border-radius: 10px;
}

.form-section {
    margin-bottom: 40px;
}

.form-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    padding: 10px;
    width: 60%;
    border: 1px solid #1c3f74;
    border-radius: 10px;
    font-size: 1em;
    display: inline-block;
}

.btn {
    padding: 10px 20px;
    background-color: #1c3f74;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    padding: 10px;
    margin-bottom: 10px;
    background: #f1f1f1;
    border-radius: 5px;
}

.list .bold {
    font-weight: bold;
}